.header {
  text-align: center;
  padding: 20px 0 0 0;
}
.logo {
  width: 300px;
}

.nav-bar {
  background: #1e272e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 10px;
  margin-right: 20px;
  display: inline-block;
}
.nav-bar a:hover {
  background: #d2dae2;
  color: #1e272e;
}
.navlink {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 10px;
  margin-right: 20px;
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
}
.navlink:hover {
  background: #d2dae2;
  color: #1e272e;
}

.selected {
  background: #d2dae2;
  color: #1e272e !important;
}
.user-profile {
  width: 50px;
  border-radius: 50%;
  padding: 5px;
}
